blue_box:
  org:
    customer_id: 12345
    api_key: 'abcde'
    location_id: '1-2-3-4-5'
    image_id:    '1-2-3-4-5'
    flavor_id:   '1-2-3-4-5'
  pro:
    customer_id: 12345
    api_key: 'abcde'
    location_id: '1-2-3-4-5'
    image_id:    '1-2-3-4-5'
    flavor_id:   '1-2-3-4-5'  